#sectionOne,
#sectionTwo,
#sectionThree,
#sectionFour,
#sectionFive,
#sectionSix,
#sectionSeven,
#sectionEight,
#sectionNine {
  background-image: url('/images/placeholder.png');
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'New Tegomin', serif;
  background: linear-gradient(142deg, rgba(24, 104, 174, 1), 29%, rgba(55, 184, 230, 1) 100%);
}

.main {
  margin-top: 10px;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.grid {
  position: relative;
  width: 33.33%;
  float: left;
  height: 200px;
  color: #fff;
}

.heading {
  position: absolute;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  border: 1px solid #ccc;
}

.heading span {
  position: relative;
  top: 65px;
  padding: 6px;
  border: 2px solid #ccc;
  background-color: rgba(55, 184, 230, .4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.details {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(24, 104, 174, 1);
  color: #fff;
  font-size: 16px;
  opacity: 1;
  z-index: 0;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.details a.close {
  color: #fff;
  margin-right: 15px;
  margin-top: 15px;
  text-align: right;
  display: block;
  text-decoration: none;
  font-size: 24px;
}

.details h2 {
  margin-top: 5px;
  color: #fff;
}

.details p {
  margin-top: 0;
  padding: 20px 15px;
  box-sizing: border-box;
  text-align: center;
}

.grid:nth-child(3n+1) .details::before {
  position: absolute;
  content: '';
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(55, 184, 230, 1);
}

.grid:nth-child(3n+2) .details::before {
  position: absolute;
  content: '';
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(55, 184, 230, 1);
}

.grid:nth-child(3n+3) .details::before {
  position: absolute;
  content: '';
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(55, 184, 230, 1);
}